.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.continer {
    max-width: 1280px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    color: #1E1B1B;
}



/*-------------------------------------------------------------*/

.header {
    font-weight: 600;
}

.header__top {}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 16px;
}

.header__logo {
    margin-right: auto;
}

.header__nav {
}

.header__nav--list {
    line-height: 28px;
    display: flex;
}

.header__nav--item {
    margin-left: 40px;
    transition: .3s;
}
.header__nav--item:first-child {
    margin: 0;
}
.header__nav--item:hover{
    color: #FF6433;
    transform: scale(1.1);
}

.header__line {
    width: 1px;
    border: .5px solid #939191;
    height: 40px;
    margin: 0 31.5px;
}

.header__assistance {
    display: flex;
    align-items: center;
}

.header__assistance--btn-call {
    width: 40px;
    height: 40px;
    background-color: #61C4A1;
    border-radius: 50%;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.header__assistance--btn-call:hover{
    box-shadow: 0 0 15px #61c4a1;
}
.header__assistance--btn-call>img{
    transition: .3s;
}
.header__assistance--btn-call:hover>img{
    transform: scale(1.1);
}

.header__assistance--numbers {
    margin-left: 14px;
}

.header__assistance--items {}

.header__assistance--txt {
    font-weight: 500;
    line-height: 24px;
}

.header__assistance--num {
    font-size: 18px;
    line-height: 175%;
}