.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    color: #1E1B1B;
}

.continer {
    max-width: 1280px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
}


/*-------------------------------------------------------------*/

.header {
    font-weight: 600;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 16px;
}

.header__logo {
    margin-right: auto;
}

.nav__list {
    line-height: 28px;
    display: flex;
}

.nav__list-item {
    margin-left: 40px;
    transition: .3s;
}

.nav__list-item:first-child {
    margin: 0;
}

.nav__list-item:hover {
    color: #FF6433;
    transform: scale(1.1);
}

.header__line {
    width: 1px;
    border: .5px solid #939191;
    height: 40px;
    margin: 0 31.5px;
    opacity: 0.36;
}

.header__assistance {
    display: flex;
    align-items: center;
}

.header__assistance--btn-call {
    width: 40px;
    height: 40px;
    background-color: #61C4A1;
    border-radius: 50%;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.header__assistance--btn-call:hover {
    box-shadow: 0 0 15px #61c4a1;
}

.header__assistance--btn-call>img {
    transition: .3s;
}

.header__assistance--btn-call:hover>img {
    transform: scale(1.1);
}

.header__assistance--numbers {
    margin-left: 14px;
}

.header__assistance--txt {
    font-weight: 500;
    line-height: 24px;
    opacity: 0.7;
}

.header__assistance--num {
    font-size: 18px;
    line-height: 175%;
}

.header__body {
    margin: 78px 0 135px;
}

.header__body--inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content--1 {
    max-width: 624px;
    max-height: 452px;
}

.header__title {
    font-weight: 800;
    font-size: 64px;
    line-height: 84px;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
}

.header__btns {
    display: flex;
    margin-bottom: 48px;
}

.header__btns--link {
    display: flex;
    width: 203px;
    height: 64px;
    background: #FF6433;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin-right: 34px;
    transition: .3s;
}

.header__btns--link:hover {
    transform: scale(1.1);
}

.header__btns--video {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}

.header__btns--video>img {
    margin-right: 8px;
}

.header__btns--video div {
    transition: .3s;
}

.header__btns--video:hover div {
    color: #FF6433;
}

.header__time {
    display: flex;
    align-items: center;
}

.header__ico {
    display: block;
    margin-right: 13px;
}

.header__txt--item1 {
    color: #939191;
    font-weight: 500;
    line-height: 24px;
}

.header__txt--item2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
}

.header__content--2 {
    position: relative;
}

.header__img {
    max-width: 605px;
    max-height: 632px;
}

.header__quick-service {
    position: absolute;
    top: 80px;
    left: -30px;
}

.header__plate-white {
    width: 102px;
    height: 102px;
    background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
    border-radius: 50%;
    position: relative;
    white-space: nowrap;
    transition: .5s;

}

.header__quick-service:hover>.header__plate-white {
    width: 282px;
    border-radius: 59px;
    box-shadow: 0 0 0 12px #E1E1E16E;
}

.header__plate-white::before {
    content: "Quick service";
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    position: absolute;
    top: 32px;
    left: 102px;
    color: #00000000;
    transition: .5s;

}

.header__quick-service:hover>.header__plate-white::before {
    color: #1E1B1B;
}

.header__plate-green {
    width: 70px;
    height: 70px;
    background-color: #5CBA99;
    color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
    left: 16px;
}

.header__plate-green--item1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    margin-right: 3px;
}

.header__plate-green--item2 {
    font-weight: 600;
    line-height: 28px;
}

.header__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 326px;
    height: 102px;
    background-color: #FFFFFF;
    border-radius: 59px;
    box-shadow: 0 0 0 12px #E1E1E16E;
    position: absolute;
    top: 460px;
    left: 299px;
}

.rating__txt {
    align-items: center;
    margin-left: 38px;
    text-align: center;
    color: #000000;
}

.rating__txt--item1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
}

.rating__txt--item2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

}

.rating__stars {
    display: block;
    margin-right: 32px;
}

/*--------------------------------------------------------------------------------*/
.offer {
    background-color: #F2F2F2;
}

.offer--inner {
    margin: 0 auto;
}

.offer__heading {
    padding-top: 128px;
    max-width: 858px;
    margin: 0 auto;
    text-align: center;
}

.offer__heading--item1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
}

.offer__heading--item2 {
    padding-top: 8px;
    font-weight: 800;
    font-size: 58px;
    line-height: 76px;
    letter-spacing: -0.03em;
    text-align: center;
}

.offer__catalog-list {
    display: grid;
    margin-top: 64px;
    max-width: 1280px;
    max-height: 472px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 8px;
}

.offer__list-item {
    max-width: 316px;
    max-height: 232px;
    background-color: #FFFFFF;
    transition: .3s;
}

.offer__list-item--link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 232px;
    transition: .3s;
}

.offer__list-item:hover {
    background-color: #FF6433;
}

.offer__list-item--link:hover {
    filter: brightness(10);

}

.offer__list-item--link>div {
    padding-top: 14px;
}


.offer__about-services {
    padding: 32px 0 128px;
    text-align: right;
}

.offer__about-services--link {
    display: inline-flex;
    align-items: center;
    transition: .3s;
}

.offer__about-services--link:hover {
    background-color: #FF6433;
    box-shadow: 0 0 0 10px #FF6433;
    border-radius: 5px;
    color: #FFFFFF;
}

.offer__about-services--link>img {
    transition: 0.3s;
}

.offer__about-services--link:hover>img {
    filter: brightness(10);

}

.offer__about-services--txt {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    padding-right: 16px;
}

/*-------------------------------------------------------------------------------*/
.funnel {
    padding: 136px 0 136px;
}

.funnel--inner {
    display: flex;
}

.funnel__content-left {
    max-width: 524px;
    margin-right: 131px;
}

.content-left__heading {
    font-weight: 800;
    font-size: 58px;
    line-height: 76px;
    letter-spacing: -0.03em;

}

.content-left__txt {
    padding-top: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    opacity: 0.6;
    max-width: 437px;
}

.content-left__button-link {
    display: inline-flex;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    margin-top: 32px;
    padding: 16px 40px;
    color: #FFFFFF;
    background: #FF6433;
    border-radius: 12px;
    transition: .3s;
}

.content-left__button-link:hover {
    transform: scale(1.1);
}

.funnel__content-right {
    max-width: 432px;
}

.blok__header {
    display: flex;
    align-items: center;
    position: relative;
}

.blok__header--ball {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    background-color: #661CE7;
    border-radius: 50%;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 24px;
}

.blok__header--ball::before {
    content: '';
    position: absolute;
    background: #ffffff3d;
    ;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    left: 15px;
    top: 51px;
}

.blok__header--txt {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.03em;
}

.blok__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blok__main--line {
    border: 2px dashed #FF6433;
    margin: 0 60px 0 34.4px;
    height: 71px;


}

.blok__main--txt {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    opacity: 0.6;
    max-width: 336px;
}

/*-------------------------------------------------------------------------------*/

.cta--inner {
    background: url(../img/auto1.jpg)no-repeat left, url(../img/auto2.jpg) no-repeat right;
    background-size: 50% 100%;
}

.cta__orange {
    width: 729px;
    height: 502px;
    background-color: #FF6433;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.cta__orange--txt {
    max-width: 569px;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    padding-top: 128px;

}

.cta__orange--btn-link {
    padding: 16px 40px;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #FFFFFF;
    display: inline-block;
    background-color: #000000;
    border-radius: 12px;
    position: absolute;
    top: 310px;
    left: 61px;
    transition: .3s;
}

.cta__orange--btn-link:hover {
    transform: scale(1.1);
}

/*-------------------------------------------------------------------------------*/

.experience {
    padding: 48px 0 48px;
}

.experience__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience__list--item {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.list__item--number {
    font-weight: 800;
    font-size: 58px;
    line-height: 76px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #661CE7;

}

.list__item--txt {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    opacity: 0.7;
}

/*-------------------------------------------------------------------------------*/

.brands {
    background-color: #E2E6E9;
}

.brands--inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brands__heading {
    padding-top: 128px;
    font-weight: 800;
    font-size: 58px;
    line-height: 76px;
    text-align: center;
    letter-spacing: -0.03em;
    margin-bottom: 31px;
}

.brands__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 38.6px;
    row-gap: 38.6px;
}

.brands__list--item {
    transition: .3s;
}

.brands__list--item:hover {
    transform: scale(1.1);
}

/*-------------------------------------------------------------------------------*/

.blog {
    padding: 131px 0 136px;
}

.blog__heading {
    font-weight: 800;
    font-size: 58px;
    line-height: 76px;
    letter-spacing: -0.03em;
    margin-bottom: 47px;
}

.blog__filter-box {
    display: flex;
    margin-bottom: 46px;

}

.filter-box__item {
    margin-right: 30px;
}

.filter-box__item:last-child {
    margin: 0;
}

.filter-box__btn {
    background: none;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.03em;
    transition: .3s;
}

.filter-box__btn:hover {
    color: #FF6433;
}


.filter-box__btn--active {
    color: #FF6433;
}

.blog__list {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    gap: 32px;
}

.blog__list-item {
    max-width: 405px;
    max-height: 606px;
}

.blog__image-box {
    margin-bottom: 24px;
}

.blog__image-box img {
    width: 100%;
    height: 100%;
}

.blog__content-date {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #939191;
    margin-bottom: 16px;
}

.blog__content-heding {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.03em;
    margin-bottom: 16px;
}

.blog__content-txt {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #232536;
}

/*-------------------------------------------------------------------------------*/

.testimonials {
    padding: 128px 0;
    background-color: #F2F2F2;
}

.testimonials__heding {
    font-weight: 800;
    font-size: 58px;
    line-height: 76px;
    letter-spacing: -0.03em;
    max-width: 909px;
    text-align: center;
    margin: 0 auto 76px;

}

.testimonials__slider-list {
    margin: 0 -24px;
}

.testimonials__inner-item {
    margin: 0 24px;
}

.testimonials__slider-item {
    background-color: #FFFFFF;
    max-width: 616px;
}

.slider-item__content-box {
    padding: 72px;
}

.content-box__user {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.content-box__user-img {
    border-radius: 50%;
    overflow: hidden;
}

.content-box__user-info {
    margin-left: 16px;
}

.content-box__user-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
}

.content-box__user-citi {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #939191;
}

.content-box__review {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
}

.slick-slider {
    overflow: hidden;

}

.slick-track {
    display: flex;
    justify-content: space-between;
}

.slick-slide {
    max-width: 616px;
}

.slick-active {
    max-width: 616px;
}

.testimonials__switch-box {
    position: relative;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}

.switch__btns-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}


.slick-arrow {
    font-size: 0;
    width: 48px;
    height: 48px;
    background: url(../icon/Arrow\ left.svg) no-repeat center / 23px 16px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: .2s;
}

.slick-arrow:hover {
    background: url(../icon/Arrow\ white.svg) no-repeat center / 23px 16px;
    background-color: #000000;
    transform: scale(1.292);
}

.slick-prev {
    margin-right: 38px;
}

.slick-next {
    transform: rotateZ(180deg);
}

.slick-next:hover {
    transform: rotateZ(180deg) scale(1.292);
}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.slick-dots li:last-child {
    margin: 0;
}

.slick-dots button {
    font-size: 0;
    width: 32px;
    height: 4px;
    background-color: #939191;
}

.slick-dots .slick-active button {
    background-color: #FF6433;
}

/*-------------------------------------------------------------------------------*/

.footer {
    color: #FFFFFF;
}

.footer-body {
    background: #1e1b1bfc;

    padding: 128px 0;

}

.footer__body--inner {
    display: flex;
}

.footer__content-left {
    margin-right: 193px;
}

.content-left__heding {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: -0.03em;
    max-width: 463px;
    margin-bottom: 64px;
}

.content-left__list-messengers {
    display: flex;
    align-items: center;
}

.list-messengers__item {
    margin-right: 25px;
}
.list-messengers__item {
    margin-right: 25px;
    transition: .3s;
}

.list-messengers__item:hover{
    transform: scale(1.1);
}
.list-messengers__item path{
    transition: .3s;
}
.list-messengers__item:hover path{
    fill: #FF6433;
}

.list-messengers__item:last-child {
    margin: 0;
}

.content-right__list-item {
    margin-bottom: 32px;
}

.list-item__heding {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    opacity: 0.6;
    margin-bottom: 8px;
}

.list-item__info {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;

}

.footer__bottom {
    background: #1E1B1B;
    padding: 65px 0;
}

.footer__bottom--inner {
    display: flex;
    align-items: center;
}

.footer__bottom-logo {
    margin-right: 288px;
}

.bottom-nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-nav__item {
    margin-right: 40px;
    transition: .3s;
}

.bottom-nav__item:last-child {
    margin: 0;
}

.bottom-nav__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
}

.bottom-nav__item:hover {
    color: #FF6433;
    transform: scale(1.1);
}

.footer__bottom-info {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #939191;
    margin-left: auto;
}
